.head{
    background-color: blue;
}
.rodape{
    background-color: grey;
}

.estilo2{
    font-family: arial;
    color: green;
    font-size: 16px;
}

.heroi{
    width: 100px;
    height: 100px;
    border: solid black 5px
}

.link{
    color: black;
}

.link:hover{
    color: blue;
}

.vdd{
    margin: 10px;
    background-color: yellow;
}

.enviar{
    background-color: blue;
    color: white;
    border-radius: 9px ;
}

.cab{
    background-color: grey;
    
}

.l{
    color: red;
}

#b{
    color: blue;
}

.form{
    border: solid black 2px;
}

.bo{
    background-color: green;
}

.flexbox{
    display: flex;
    background-color: blue;
}

.flex{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;

}

h1{
    color: black;
    font-family: arial;
    font-size: 30px;
}

h2{
    color: green;
    font-family: verdana;
    font-size: 80px;
}

h3{
    color: blueviolet;
    font-size: 60px;
    font-family: 'Times New Roman';
}

.grid{
    background-image: linear-gradient(blue, green) ;
}

.roxa{
    color: violet;
    margin: 10px;
}

.usu{
    border-radius: 4px black;
    box-shadow: black 2px;
}